In [1]:
import openpyxl
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
from sklearn.ensemble import RandomForestRegressor

from sklearn.feature_selection import RFE
from sklearn.feature_selection import RFECV
from sklearn.model_selection import StratifiedKFold

from matplotlib import pyplot as plt
import datetime
import math
import pandas as pd
from scipy import stats
import seaborn as sn

from IPython.core.display import display, HTML
display(HTML("<style>.container { width:98% !important; }</style>"))

# Drops specific values in a dataframe
# if flag = 1, drops values less than 'val'
# if flag = 0, drops values greater than 'val'
def drop_values(dataframe, column, val, flag):
    if flag:
        return dataframe.drop(dataframe[column < val].index)
    else:
        return dataframe.drop(dataframe[column > val].index)

In [3]:
# THE EGG1 DATASET
egg_1_dataframe_1 = pd.read_csv('Egg#1/2020-05-16 Download_egg0080446e6e980130.csv')
egg_1_dataframe_2 = pd.read_csv('Egg#1/2020-05-25 Download_egg0080446e6e980130.csv')
egg_1_dataframe_3 = pd.read_csv('Egg#1/2020-06-02 Download_egg0080446e6e980130.csv')
egg_1_dataframe_4 = pd.read_csv('Egg#1/2020-06-11 Download_egg0080446e6e980130.csv')
egg_1_dataframe_5 = pd.read_csv('Egg#1/2020-06-19 Download_egg0080446e6e980130.csv')
egg_1_dataframe_6 = pd.read_csv('Egg#1/2020-06-26 Download_egg0080446e6e980130.csv')
egg_1_dataframe_7 = pd.read_csv('Egg#1/2020-07-02 Download_egg0080446e6e980130.csv')
egg_1_dataframe_8 = pd.read_csv('Egg#1/2020-07-10 Download_egg0080446e6e980130.csv')
egg_1_dataframe_9 = pd.read_csv('Egg#1/2020-07-16 Download_egg0080446e6e980130.csv')
egg_1_dataframe_10 = pd.read_csv('Egg#1/2020-07-24 Download_egg0080446e6e980130.csv')
egg_1_dataframe_11 = pd.read_csv('Egg#1/2020-08-05 Download_egg0080446e6e980130.csv')
egg_1_dataframe_12 = pd.read_csv('Egg#1/2020-08-12 Download_egg0080446e6e980130.csv')
egg_1_dataframe_13 = pd.read_csv('Egg#1/2020-08-19 Download_egg0080446e6e980130.csv')
egg_1_dataframe_14 = pd.read_csv('Egg#1/2020-08-26 Download_egg0080446e6e980130.csv')
egg_1_dataframe_15 = pd.read_csv('Egg#1/2020-09-02 Download_egg0080446e6e980130.csv')
# Remove the Latitude, Longitude, and Altitude 
egg_1_dataframe_1 = egg_1_dataframe_1.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_2 = egg_1_dataframe_2.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_3 = egg_1_dataframe_3.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_4 = egg_1_dataframe_4.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_5 = egg_1_dataframe_5.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_6 = egg_1_dataframe_6.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_7 = egg_1_dataframe_7.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_8 = egg_1_dataframe_8.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_9 = egg_1_dataframe_9.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_10 = egg_1_dataframe_10.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_11 = egg_1_dataframe_11.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_12 = egg_1_dataframe_12.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_13 = egg_1_dataframe_13.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_14 = egg_1_dataframe_14.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_1_dataframe_15 = egg_1_dataframe_15.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
# Convert the Timestamp column to an index and resample to 60 min averages
egg_1_dataframe_1['Timestamp'] = pd.to_datetime(egg_1_dataframe_1['Timestamp'])
egg_1_dataframe_2['Timestamp'] = pd.to_datetime(egg_1_dataframe_2['Timestamp'])
egg_1_dataframe_3['Timestamp'] = pd.to_datetime(egg_1_dataframe_3['Timestamp'])
egg_1_dataframe_4['Timestamp'] = pd.to_datetime(egg_1_dataframe_4['Timestamp'])
egg_1_dataframe_5['Timestamp'] = pd.to_datetime(egg_1_dataframe_5['Timestamp'])
egg_1_dataframe_6['Timestamp'] = pd.to_datetime(egg_1_dataframe_6['Timestamp'])
egg_1_dataframe_7['Timestamp'] = pd.to_datetime(egg_1_dataframe_7['Timestamp'])
egg_1_dataframe_8['Timestamp'] = pd.to_datetime(egg_1_dataframe_8['Timestamp'])
egg_1_dataframe_9['Timestamp'] = pd.to_datetime(egg_1_dataframe_9['Timestamp'])
egg_1_dataframe_10['Timestamp'] = pd.to_datetime(egg_1_dataframe_10['Timestamp'])
egg_1_dataframe_11['Timestamp'] = pd.to_datetime(egg_1_dataframe_11['Timestamp'])
egg_1_dataframe_12['Timestamp'] = pd.to_datetime(egg_1_dataframe_12['Timestamp'])
egg_1_dataframe_13['Timestamp'] = pd.to_datetime(egg_1_dataframe_13['Timestamp'])
egg_1_dataframe_14['Timestamp'] = pd.to_datetime(egg_1_dataframe_14['Timestamp'])
egg_1_dataframe_15['Timestamp'] = pd.to_datetime(egg_1_dataframe_15['Timestamp'])
# Merge all the files into 1 dataframe
egg_1_dataframe = pd.concat((egg_1_dataframe_1, egg_1_dataframe_2, egg_1_dataframe_3, egg_1_dataframe_4,
                            egg_1_dataframe_5, egg_1_dataframe_6, egg_1_dataframe_7, egg_1_dataframe_8,
                            egg_1_dataframe_9, egg_1_dataframe_10, egg_1_dataframe_11, egg_1_dataframe_12,
                            egg_1_dataframe_13, egg_1_dataframe_14, egg_1_dataframe_15))
egg_1_dataframe['Timestamp'] = pd.to_datetime(egg_1_dataframe['Timestamp'])
egg_1_dataframe = egg_1_dataframe.resample('5min', on='Timestamp').mean()
egg_1_dataframe.to_pickle('EGG1_5_min.pkl')
egg_1_dataframe.to_csv('EGG1_5_min.csv')

In [4]:
egg_1_dataframe

,Temperature[degC],Humidity[percent],PM1.0[ug/m^3],PM2.5[ug/m^3],PM10.0[ug/m^3],O3[ppb],O3[V],NO2[ppb],NO2[V],Pressure[Pa]
Timestamp,,,,,,,,,,
2020-05-06 13:55:00,20.520000,20.116667,3.166667,3.666667,4.000000,142.300000,1.421641,1935.236667,1.410120,99261.900000
2020-05-06 14:00:00,19.596667,21.476667,1.500000,2.166667,2.500000,73.286667,1.422995,816.073333,1.418203,99271.933333
2020-05-06 14:05:00,18.510000,23.170000,1.333333,1.833333,2.000000,81.213333,1.422732,483.786667,1.420563,99270.200000
2020-05-06 14:10:00,18.236667,25.950000,2.000000,3.166667,3.166667,59.606667,1.423154,351.593333,1.421503,99273.466667
2020-05-06 14:15:00,18.376667,24.680000,2.833333,3.833333,4.000000,38.580000,1.423602,314.096667,1.421779,99284.866667
...,...,...,...,...,...,...,...,...,...,...
2020-09-02 09:35:00,25.090000,72.246000,9.960000,15.040000,15.600000,38.580000,1.424337,150.466000,1.423304,98577.260000
2020-09-02 09:40:00,25.048000,72.824000,9.960000,15.120000,15.840000,39.464000,1.424313,144.678000,1.423345,98573.120000
2020-09-02 09:45:00,25.072000,72.846000,10.460000,17.040000,17.780000,40.780000,1.424288,146.034000,1.423336,98569.580000
2020-09-02 09:50:00,25.036000,73.058000,10.640000,17.020000,17.940000,40.050000,1.424299,143.380000,1.423354,98565.400000
2020-09-02 09:55:00,24.934000,73.566000,10.740000,16.560000,17.320000,39.070000,1.424309,144.634000,1.423340,98553.980000

In [5]:
# THE EGG2 DATASET
egg_2_dataframe_1 = pd.read_csv('Egg#2/2020-05-16 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_2 = pd.read_csv('Egg#2/2020-05-25 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_3 = pd.read_csv('Egg#2/2020-06-02 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_4 = pd.read_csv('Egg#2/2020-06-11 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_5 = pd.read_csv('Egg#2/2020-06-19 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_6 = pd.read_csv('Egg#2/2020-06-26 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_7 = pd.read_csv('Egg#2/2020-07-02 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_8 = pd.read_csv('Egg#2/2020-07-10 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_9 = pd.read_csv('Egg#2/2020-07-16 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_10 = pd.read_csv('Egg#2/2020-07-24 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_11 = pd.read_csv('Egg#2/2020-08-05 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_12 = pd.read_csv('Egg#2/2020-08-12 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_13 = pd.read_csv('Egg#2/2020-08-19 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_14 = pd.read_csv('Egg#2/2020-08-26 Download_egg0080446fa82b0130.csv')
egg_2_dataframe_15 = pd.read_csv('Egg#2/2020-09-02 Download_egg0080446fa82b0130.csv')
# Remove the Latitude, Longitude, and Altitude 
egg_2_dataframe_1 = egg_2_dataframe_1.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_2 = egg_2_dataframe_2.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_3 = egg_2_dataframe_3.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_4 = egg_2_dataframe_4.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_5 = egg_2_dataframe_5.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_6 = egg_2_dataframe_6.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_7 = egg_2_dataframe_7.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_8 = egg_2_dataframe_8.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_9 = egg_2_dataframe_9.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_10 = egg_2_dataframe_10.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_11 = egg_2_dataframe_11.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_12 = egg_2_dataframe_12.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_13 = egg_2_dataframe_13.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_14 = egg_2_dataframe_14.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_2_dataframe_15 = egg_2_dataframe_15.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
# Convert the Timestamp column to an index and resample to 60 min averages
egg_2_dataframe_1['Timestamp'] = pd.to_datetime(egg_2_dataframe_1['Timestamp'])
egg_2_dataframe_2['Timestamp'] = pd.to_datetime(egg_2_dataframe_2['Timestamp'])
egg_2_dataframe_3['Timestamp'] = pd.to_datetime(egg_2_dataframe_3['Timestamp'])
egg_2_dataframe_4['Timestamp'] = pd.to_datetime(egg_2_dataframe_4['Timestamp'])
egg_2_dataframe_5['Timestamp'] = pd.to_datetime(egg_2_dataframe_5['Timestamp'])
egg_2_dataframe_6['Timestamp'] = pd.to_datetime(egg_2_dataframe_6['Timestamp'])
egg_2_dataframe_7['Timestamp'] = pd.to_datetime(egg_2_dataframe_7['Timestamp'])
egg_2_dataframe_8['Timestamp'] = pd.to_datetime(egg_2_dataframe_8['Timestamp'])
egg_2_dataframe_9['Timestamp'] = pd.to_datetime(egg_2_dataframe_9['Timestamp'])
egg_2_dataframe_10['Timestamp'] = pd.to_datetime(egg_2_dataframe_10['Timestamp'])
egg_2_dataframe_11['Timestamp'] = pd.to_datetime(egg_2_dataframe_11['Timestamp'])
egg_2_dataframe_12['Timestamp'] = pd.to_datetime(egg_2_dataframe_12['Timestamp'])
egg_2_dataframe_13['Timestamp'] = pd.to_datetime(egg_2_dataframe_13['Timestamp'])
egg_2_dataframe_14['Timestamp'] = pd.to_datetime(egg_2_dataframe_14['Timestamp'])
egg_2_dataframe_15['Timestamp'] = pd.to_datetime(egg_2_dataframe_15['Timestamp'])
# Merge all the files into 1 dataframe
egg_2_dataframe = pd.concat((egg_2_dataframe_1, egg_2_dataframe_2, egg_2_dataframe_3, egg_2_dataframe_4,
                            egg_2_dataframe_5, egg_2_dataframe_6, egg_2_dataframe_7, egg_2_dataframe_8,
                            egg_2_dataframe_9, egg_2_dataframe_10, egg_2_dataframe_11, egg_2_dataframe_12,
                            egg_2_dataframe_13, egg_2_dataframe_14, egg_2_dataframe_15))
egg_2_dataframe['Timestamp'] = pd.to_datetime(egg_2_dataframe['Timestamp'])
egg_2_dataframe = egg_2_dataframe.resample('5min', on='Timestamp').mean()
egg_2_dataframe.to_pickle('EGG2_5_min.pkl')
egg_2_dataframe.to_csv('EGG2_5_min.csv')

In [22]:
# THE EGG4 DATASET
egg_4_dataframe_1 = pd.read_csv('Egg#4/2020-05-16 Download_egg00804426a6980132.csv')
egg_4_dataframe_2 = pd.read_csv('Egg#4/2020-05-25 Download_egg00804426a6980132.csv')
egg_4_dataframe_3 = pd.read_csv('Egg#4/2020-06-02 Download_egg00804426a6980132.csv')
egg_4_dataframe_4 = pd.read_csv('Egg#4/2020-06-11 Download_egg00804426a6980132.csv')
egg_4_dataframe_5 = pd.read_csv('Egg#4/2020-06-19 Download_egg00804426a6980132.csv')
egg_4_dataframe_6 = pd.read_csv('Egg#4/2020-06-26 Download_egg00804426a6980132.csv')
egg_4_dataframe_7 = pd.read_csv('Egg#4/2020-07-02 Download_egg00804426a6980132.csv')
egg_4_dataframe_8 = pd.read_csv('Egg#4/2020-07-10 Download_egg00804426a6980132.csv')
egg_4_dataframe_9 = pd.read_csv('Egg#4/2020-07-16 Download_egg00804426a6980132.csv')
egg_4_dataframe_10 = pd.read_csv('Egg#4/2020-07-24 Download_egg00804426a6980132.csv')
egg_4_dataframe_11 = pd.read_csv('Egg#4/2020-08-05 Download_egg00804426a6980132.csv')
egg_4_dataframe_12 = pd.read_csv('Egg#4/2020-08-12 Download_egg00804426a6980132.csv')
egg_4_dataframe_13 = pd.read_csv('Egg#4/2020-08-19 Download_egg00804426a6980132.csv')
egg_4_dataframe_14 = pd.read_csv('Egg#4/2020-08-26 Download_egg00804426a6980132.csv')
egg_4_dataframe_15 = pd.read_csv('Egg#4/2020-09-02 Download_egg00804426a6980132.csv')
# Remove the Latitude, Longitude, and Altitude 
egg_4_dataframe_1 = egg_4_dataframe_1.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_2 = egg_4_dataframe_2.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_3 = egg_4_dataframe_3.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_4 = egg_4_dataframe_4.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_5 = egg_4_dataframe_5.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_6 = egg_4_dataframe_6.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_7 = egg_4_dataframe_7.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_8 = egg_4_dataframe_8.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_9 = egg_4_dataframe_9.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_10 = egg_4_dataframe_10.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_11 = egg_4_dataframe_11.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_12 = egg_4_dataframe_12.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_13 = egg_4_dataframe_13.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_14 = egg_4_dataframe_14.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
egg_4_dataframe_15 = egg_4_dataframe_15.drop(columns=['Latitude[deg]', 'Longitude[deg]', 'Altitude[m]'])
# Convert the Timestamp column to an index and resample to 60 min averages
egg_4_dataframe_1['Timestamp'] = pd.to_datetime(egg_4_dataframe_1['Timestamp'])
egg_4_dataframe_2['Timestamp'] = pd.to_datetime(egg_4_dataframe_2['Timestamp'])
egg_4_dataframe_3['Timestamp'] = pd.to_datetime(egg_4_dataframe_3['Timestamp'])
egg_4_dataframe_4['Timestamp'] = pd.to_datetime(egg_4_dataframe_4['Timestamp'])
egg_4_dataframe_5['Timestamp'] = pd.to_datetime(egg_4_dataframe_5['Timestamp'])
egg_4_dataframe_6['Timestamp'] = pd.to_datetime(egg_4_dataframe_6['Timestamp'])
egg_4_dataframe_7['Timestamp'] = pd.to_datetime(egg_4_dataframe_7['Timestamp'])
egg_4_dataframe_8['Timestamp'] = pd.to_datetime(egg_4_dataframe_8['Timestamp'])
egg_4_dataframe_9['Timestamp'] = pd.to_datetime(egg_4_dataframe_9['Timestamp'])
egg_4_dataframe_10['Timestamp'] = pd.to_datetime(egg_4_dataframe_10['Timestamp'])
egg_4_dataframe_11['Timestamp'] = pd.to_datetime(egg_4_dataframe_11['Timestamp'])
egg_4_dataframe_12['Timestamp'] = pd.to_datetime(egg_4_dataframe_12['Timestamp'])
egg_4_dataframe_13['Timestamp'] = pd.to_datetime(egg_4_dataframe_13['Timestamp'])
egg_4_dataframe_14['Timestamp'] = pd.to_datetime(egg_4_dataframe_14['Timestamp'])
egg_4_dataframe_15['Timestamp'] = pd.to_datetime(egg_4_dataframe_15['Timestamp'])
# Merge all the files into 1 dataframe
egg_4_dataframe = pd.concat((egg_4_dataframe_1, egg_4_dataframe_2, egg_4_dataframe_3, egg_4_dataframe_4,
                            egg_4_dataframe_5, egg_4_dataframe_6, egg_4_dataframe_7, egg_4_dataframe_8,
                            egg_4_dataframe_9, egg_4_dataframe_10, egg_4_dataframe_11, egg_4_dataframe_12,
                            egg_4_dataframe_13, egg_4_dataframe_14, egg_4_dataframe_15))
egg_4_dataframe['Timestamp'] = pd.to_datetime(egg_4_dataframe['Timestamp'])
egg_4_dataframe = egg_4_dataframe.resample('5min', on='Timestamp').mean()
egg_4_dataframe.to_pickle('EGG4_5_min.pkl')
egg_4_dataframe.to_csv('EGG4_5_min.csv')

In [23]:
egg_4_dataframe

,Temperature[degC],Humidity[percent],PM1.0[ug/m^3],PM2.5[ug/m^3],PM10.0[ug/m^3],O3[ppb],O3[V],NO2[ppb],NO2[V],Pressure[Pa]
Timestamp,,,,,,,,,,
2020-05-06 13:55:00,18.270000,25.340000,0.500000,1.500000,1.500000,152.030000,1.420438,3120.730000,1.408406,99240.700000
2020-05-06 14:00:00,18.130000,24.260000,1.125000,1.875000,2.375000,75.852500,1.421860,1572.927500,1.417360,99245.925000
2020-05-06 14:05:00,17.783333,23.863333,0.833333,1.666667,1.833333,56.460000,1.422198,801.916667,1.421812,99243.233333
2020-05-06 14:10:00,18.110000,24.650000,1.166667,2.166667,2.333333,80.903333,1.421763,604.536667,1.422961,99247.933333
2020-05-06 14:15:00,18.080000,24.556667,1.333333,2.000000,2.166667,59.163333,1.422169,428.360000,1.423979,99255.133333
...,...,...,...,...,...,...,...,...,...,...
2020-09-02 09:35:00,25.252000,71.472000,8.920000,13.580000,14.120000,40.116000,1.423142,142.250000,1.425857,98554.960000
2020-09-02 09:40:00,25.262000,71.824000,9.100000,13.740000,14.360000,41.496000,1.423116,145.052000,1.425841,98553.060000
2020-09-02 09:45:00,25.290000,72.036000,9.480000,15.040000,15.660000,42.496000,1.423099,139.142000,1.425877,98549.140000
2020-09-02 09:50:00,25.268000,71.968000,9.840000,15.140000,15.780000,43.396000,1.423080,142.060000,1.425859,98546.960000
2020-09-02 09:55:00,25.195000,72.240000,9.300000,14.100000,14.550000,51.230000,1.422922,135.755000,1.425894,98537.100000

In [28]:
# Combine the airpointer 
airpointer = pd.read_csv('20201019_190015_2019_00697_HC_697_34105.csv')
airpointer = airpointer.rename(columns={'Time':'Timestamp'})
airpointer['Timestamp'] = pd.to_datetime(airpointer['Timestamp'])
airpointer = airpointer.resample('5min', on='Timestamp').mean()
airpointer.to_csv('airpointer.csv')
airpointer.to_pickle('airpointer.pkl')
airpointer

,NO,NO2,NOx,O3,PM10_conc,PM10-2.5_conc,PM2.5_conc,Air_Pressure,Air_Temperature,Relative_Humidity
Timestamp,,,,,,,,,,
2020-05-06 13:00:00,1.7506,3.6604,5.4108,39.2502,10.6974,6.8500,3.8418,991.6204,12.3478,28.1114
2020-05-06 13:05:00,1.4914,3.4180,4.9096,39.0668,10.3174,6.3844,3.9320,991.6000,12.1190,28.9240
2020-05-06 13:10:00,1.3158,3.1902,4.5056,38.7468,14.0022,9.8792,4.1202,991.6000,12.4876,28.6234
2020-05-06 13:15:00,1.4514,3.1844,4.6358,39.0600,17.0646,12.8746,4.1918,991.6576,12.8116,28.3300
2020-05-06 13:20:00,1.5592,3.6042,5.1632,38.6158,19.1310,14.8660,4.2658,991.6436,12.0406,29.2080
...,...,...,...,...,...,...,...,...,...,...
2020-09-02 09:40:00,3.2924,8.1002,11.3924,19.8776,12.3876,4.7658,7.6222,984.2204,22.9554,83.9058
2020-09-02 09:45:00,4.4872,8.6942,13.1814,19.2644,12.4548,4.7160,7.7388,984.1830,23.1290,83.4564
2020-09-02 09:50:00,5.4452,8.5142,13.9590,19.5832,12.8596,4.9316,7.9278,984.1000,23.6362,82.2508
2020-09-02 09:55:00,5.2594,8.5390,13.7982,20.5776,14.8818,6.7764,8.0996,984.1000,24.2082,78.8376
2020-09-02 10:00:00,4.7790,8.5090,13.2870,21.3580,15.6320,7.4840,8.1450,984.1000,24.3870,76.9070

In [20]:
egg_dataframe = pd.

Index(['2020-05-06 13:00:00', '2020-05-06 13:01:00', '2020-05-06 13:02:00',
       '2020-05-06 13:03:00', '2020-05-06 13:04:00', '2020-05-06 13:05:00',
       '2020-05-06 13:06:00', '2020-05-06 13:07:00', '2020-05-06 13:08:00',
       '2020-05-06 13:09:00',
       ...
       '2020-09-02 09:51:00', '2020-09-02 09:52:00', '2020-09-02 09:53:00',
       '2020-09-02 09:54:00', '2020-09-02 09:55:00', '2020-09-02 09:56:00',
       '2020-09-02 09:57:00', '2020-09-02 09:58:00', '2020-09-02 09:59:00',
       '2020-09-02 10:00:00'],
      dtype='object', name='Timestamp', length=158295)